<div class="bl-container title-container">
  <div mat-dialog-title>
      <h1>ADD NEW USER</h1>
  </div>
  <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content row">
      
      <div class="row">
      <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName">
        </mat-form-field>
       
      </div>
      <div class="row">
      <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </div>
  
          <div class="row">
          <mat-form-field>
              <mat-label>Enter your password</mat-label>
              <input matInput type="password" formControlName="password" required>
              <mat-error *ngIf="password != null && password.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="password != null && password.hasError('minlength')">Password must be at least 8 characters</mat-error>
            </mat-form-field>
            </div>   
  </div>
  
  <div mat-dialog-action class="action">
      <button (click)="closeDialog()" mat-raised-button>Cancel</button>
      <button mat-raised-button color="primary">Save</button>
  </div>
  </form>
  </div>
  
  
  
  